# Usage:
# export HIVE_VERSION=<version>
# 首次启动(或版本升级): docker-compose up -d
# 非首次启动: docker-compose start -d
# 停止: docker-compose stop
# 服务连接: docker-compose exec hive-server bash

version: "3"

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop2.7.4-java8
    volumes:
      - namenode:/hadoop/dfs/name
    environment:
      - CLUSTER_NAME=test
    env_file:
      - ./hadoop-hive.env
    ports:
      - "50070:50070"
  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop2.7.4-java8
    volumes:
      - datanode:/hadoop/dfs/data
    env_file:
      - ./hadoop-hive.env
    environment:
      SERVICE_PRECONDITION: "namenode:50070"
    ports:
      - "50075:50075"
  hive-server:
    image: congyh/hive:${HIVE_VERSION}-postgresql-metastore
    env_file:
      - ./hadoop-hive.env
    environment:
      HIVE_CORE_CONF_javax_jdo_option_ConnectionURL: "jdbc:postgresql://hive-metastore/metastore"
      SERVICE_PRECONDITION: "hive-metastore:9083"
    ports:
      - "10000:10000"
      - "8000:8000"
    volumes:
      - /Users/congyihao/DevelopmentTools/apache-atlas-1.1.0/apache-atlas-1.1.0-hive-hook/apache-atlas-hive-hook-1.1.0/hook/hive/:/Users/congyihao/DevelopmentTools/apache-atlas-1.1.0/apache-atlas-1.1.0-hive-hook/apache-atlas-hive-hook-1.1.0/hook/hive/
  hive-metastore:
    image: congyh/hive:${HIVE_VERSION}-postgresql-metastore
    env_file:
      - ./hadoop-hive.env
    command: /opt/hive/bin/hive --service metastore
    environment:
      SERVICE_PRECONDITION: "namenode:50070 datanode:50075 hive-metastore-postgresql:5432"
    ports:
      - "9083:9083"
  hive-metastore-postgresql:
    image: congyh/hive-metastore-postgresql:${HIVE_VERSION}

volumes:
  namenode:
  datanode:
